[submodule "core/3rdparty/quazip"]
	path = core/3rdparty/quazip
	url = https://github.com/stachenov/quazip.git
[submodule "core/3rdparty/zlib"]
	path = core/3rdparty/zlib
	url = https://github.com/madler/zlib.git
