body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }


body { background: #fff; }

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

/* optional Container STYLES */
/* .chart { height: 500px; width: 500px; margin: 5px; margin: 5px auto; border: 3px solid #DDD; border-radius: 3px; } */
.chart { margin: 5px; margin: 5px auto; }
/* .node { color: #9CB5ED; border: 2px solid #C8C8C8; border-radius: 3px; } */
/* .node p { font-size: 15px; line-height: 20px; height: 20px; font-weight: bold; padding: 3px; margin: 0; } */