body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }

body { background: #fff; }

/* optional Container STYLES */
/* .chart { height: 500px; width: 500px; margin: 5px; margin: 5px auto; border: 3px solid #DDD; border-radius: 3px; } */
.chart { margin: 5px; margin: 5px auto; }

.node {
    user-select: none;
    padding: 3px;
}

div.node.word p.node-name:nth-child(2) {
    /* border: 1px solid black; */
    margin-top: 5px;
    text-decoration: underline;
    text-align: center;
}

div.node:not(.word) p.node-name {
    text-align: center;
}

div.node:not(.word) p.node-name:hover{ 
    font-weight: bold;
}

/* FE */
p.node-title {
    font-size: 80%;
    font-style: italic;
    text-align: center;
}

/* .node { color: #9CB5ED; border: 2px solid #C8C8C8; border-radius: 3px; } */
/* .node p { font-size: 15px; line-height: 20px; height: 20px; font-weight: bold; padding: 3px; margin: 0; } */